.btn{
    margin-left: 10px;
}
.btnDiv {
    /* display: inline-block; */
    margin-left: auto;
}

.bookResult{
    border: solid #eee 1px;
    margin-bottom: 10px;
}

.aboutBook {
    display: inline;
}